table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #00eeff;
}

caption {
  caption-side: top;
  font-weight: bold;
  text-align: center;
}

tfoot td {
  font-style: italic;
}